@font-face {
	font-family: DancingScript-Regular;
	src: url('../fuentes/DancingScript-Regular.ttf');
	src: url('../fuentes/DancingScript-Bold.ttf');
}

body{
  font-family: DancingScript-Regular;
  background-color: #02010a;
  margin: 0;
	padding: 0;
}

@media (min-width:900px){

	a{
	  color: white;
		text-decoration: underline;
    font-weight: bold;
	  text-align: right;
		font-size: 1.2em;
		text-shadow: none;
		word-spacing: 1em;
		margin-left: 8px;
	}

	nav{
		position: relative;
		display: flex;
	  padding:10px;
	  background-color:  #5b7989;
	  color: white;
	  font-family: DancingScript-Regular;
	  text-shadow:2px 2px 2px #02010a;
	  border-top-left-radius: 10px;
	  border-top-right-radius: 10px;
 		justify-content: space-between;
	  align-items: center;
	}

	nav label{
		font-size: 2em;
	}

	header{
		margin: 0;
	}

	section{
		margin: 0;
	}

	#imagenes{
		margin: 0;
		padding: 0;
		background-color: #82c3a6;
	}

	#contenido{
		width: 900px;
		margin: 0 auto;
	}
}

@media (max-width:900px){

	a{
	  color: black;
		text-decoration: underline;
	  text-align: right;
		font-size: 1.2em;
	}

	nav{
		position: relative;
		display: flex;
	  padding:10px;
	  background-color:  #5b7989;
	  color: white;
	  font-family: DancingScript-Regular;
	  text-shadow:2px 2px 2px #02010a;
	  border-top-left-radius: 10px;
	  border-top-right-radius: 10px;
 		justify-content: space-between;
	  align-items: center;
	}

	nav label{
		font-size: 2em;
	}

	#contenido{
		width: 100%;
		margin: 0 auto;
		background-color: red;
	}

}
