@font-face {
	font-family: DancingScript-Regular;
	src: url('../fuentes/DancingScript-Regular.ttf');
	src: url('../fuentes/DancingScript-Bold.ttf');
}

@-webkit-keyframes cambioPagina{
	from{
		transform:translateY(900px);
	}
	to{
		height: 0px;
	}
}

*
{
	margin:0;
}

body{
  font-family: DancingScript-Regular;
  background-color: #02010a;
  margin: 0 auto;
	padding: 0;
	animation: cambioPagina 1s;
}
figure{
	text-align: center;
	text-decoration: underline;
}
table{
  border-collapse: collapse;
}

nav label{
	font-size: 2em;
}

header{
	margin: 0;
}

section{
	margin: 0;
}

.img-redes-sociales{
	width:16px;
	height:16px;
}
/*MEDIA QUERIE PARA DESKTOP*/
@media (min-width:900px){
  body{
		width: 900px;
	}

	ul{
		padding-inline-start:0px;
	}

  h2{
		font-size: 1.8em;
		font-weight: bold;
	}

	p{
		font-size: .88em;
		margin-top: 4px;
	}

	nav{
		position: relative;
		display: flex;
	  padding:10px;
	  background-color:  #5b7989;
	  color: white;
	  font-family: DancingScript-Regular;
	  text-shadow:2px 2px 2px #02010a;
	  border-top-left-radius: 10px;
	  border-top-right-radius: 10px;
 		justify-content: space-between;
	  align-items: center;
	}

	nav a{
	  color: white;
		text-decoration: underline;
    font-weight: bold;
	  text-align: right;
		font-size: 1.2em;
		text-shadow: none;
		word-spacing: 1em;
		margin-left: 8px;
	}

	#contenido{
		width: 900px;
		margin: 0 auto;
	}

	#contenedor_img_principal{
		padding: 1.5em;
		background-color: #82c3a6;
	}

	#contenedor_img_secundaria {
		margin: auto;
		padding: 1.5em;
		display: flex;
		flex-direction: row;
		background-color:  #d5c75f;
		border: 1px;
	}

	.img-central {
		display:block;
		margin:auto;
    width: 90%;
		-webkit-filter:drop-shadow(2px 2px 2px #02010a);
		filter: drop-shadow(2px 2px 2px #02010a);
	}

	.figure-img-1i{
		display:block;
		margin:auto;
	}

	.figure-img-2i{
		display:block;
		margin:auto;
	}

	.img-secundaria1{
		width: 22em;
		height: 15em;
		-webkit-filter:drop-shadow(2px 2px 2px #02010a);
		filter: drop-shadow(2px 2px 2px #02010a);
	}

	.img-secundaria1:hover{ /*rotación de la imagen al poner el mouse sobre ella*/
		filter: drop-shadow(2px 2px 2px #82c3a6);
		transform: rotate(10deg);
	}

	.img-secundaria2{
		width: 22em;
		height: 15em;
		-webkit-filter:drop-shadow(2px 2px 2px #02010a);
		filter: drop-shadow(2px 2px 2px #02010a);
	}

	.img-secundaria2:hover{ /*traslación de la imagen al poner el mouse sobre ella*/
		filter: drop-shadow(2px 2px 2px #82c3a6);
		transform: translate(20px,-5px);
	}

  #contenedor_pie_pagina {
		display:flex;
		margin:auto;
		padding: 1.5em;
		flex-direction: row;
		background-color: #C6d5c5;
		border: 1px;
		border-bottom-left-radius: 10px;
	  border-bottom-right-radius: 10px;
	}

  .contacto{
		text-align: left;
		width: 25%;
		font-size: 1em;
	}
	.termino {
		text-align: left;
		width: 25%;
		font-size: 1em;
	}
	.redes_sociales {
		text-align: left;
		width: 25%;
		font-size: 1em;
	}
	.derecho{
		text-align: left;
		width: 25%;
		font-size: 1em;
	}

	.redes_sociales li{
		text-align: left;
		display: inline-block;
		list-style: none;
	}

	.redes_sociales a{
		text-align: left;
		text-align: none;
		text-decoration: none;
		color: black;
	}

/*Paisajes y Retratos*/
	.contenido_p_r{
		margin:auto;
		display: flex;
		flex-flow: row wrap;
		background-color:  #d5c75f;
		border: 1px;
		width: 900px;
	}

	.img-p-r{
		margin:10px;
		margin-left: 22px;
		width:16.5em;
		height:10.5em;
	}

  .imagen1{
		-webkit-filter:blur(10px) drop-shadow(2px 2px 2px #02010a);
		filter: blur(10px) drop-shadow(2px 2px 2px #02010a);
	}

	.imagen2{
		-webkit-filter:grayscale(100%) drop-shadow(2px 2px 2px #02010a);
		filter: grayscale(100%) drop-shadow(2px 2px 2px #02010a);
	}

	.imagen3{
		-webkit-filter:sepia(90%) drop-shadow(2px 2px 2px #02010a);
		filter: sepia(90%) drop-shadow(2px 2px 2px #02010a);
	}

	.imagen4{
		-webkit-filter:grayscale(100%) drop-shadow(2px 2px 2px #02010a);
		filter: grayscale(100%) drop-shadow(2px 2px 2px #02010a);
	}

	.imagen5{
		-webkit-filter:drop-shadow(2px 2px 2px #02010a);;
		filter: drop-shadow(2px 2px 2px #02010a);;
	}

	.imagen6{
		-webkit-filter:grayscale(100%) drop-shadow(2px 2px 2px #02010a);
		filter: grayscale(100%) drop-shadow(2px 2px 2px #02010a);
	}
}


/*MEDIA QUERIE PARA MOVIL*/
@media (min-width: 1px) and (max-width:900px){

	body{
		width: 100%;
	}

	ul{
		padding-inline-start:0px;
	}

  h2{
		font-size: 1.8em;
		font-weight: bold;
		padding-top: .85em;
	}

	p{
		font-size: .88em;
		margin-top: 4px;
	}

	nav{
		display: flex;
		flex-direction: column;
		display: flex;
	  padding:10px;
	  background-color:  #5b7989;
	  color: white;
	  font-family: DancingScript-Regular;
	  text-shadow:2px 2px 2px #02010a;
	  border-top-left-radius: 10px;
	  border-top-right-radius: 10px;
 		justify-content: space-between;
	  align-items: center;
	}

	nav a{
	  color: white;
		text-decoration: underline;
	  text-align: center;
		font-size: 1.2em;
	}

	nav label{
		font-size: 2em;
	}

	figcaption{
		padding-top: .2em;
		padding-bottom: 1.5em;
	}

	#contenido{
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0 auto;
		background-color: ;
	}

	#contenedor_img_principal{
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		width: 100%;
		background-color: #82c3a6;
	}

  #contenedor_img_secundaria{
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0 auto;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		background-color:  #d5c75f;
	}

	.img-central{
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: 0 auto;
		-webkit-filter:drop-shadow(2px 2px 2px #02010a);
		filter: drop-shadow(2px 2px 2px #02010a);
	}

	.figure-img-1i{
		margin:auto;
		width: 100%;
	}

	.figure-img-2i{
		margin:auto;
		width: 100%;
	}

	.img-secundaria1{
		width: 80%;
		-webkit-filter:drop-shadow(2px 2px 2px #02010a);
		filter: drop-shadow(2px 2px 2px #02010a);
	}

	.img-secundaria1:hover{ /*rotación de la imagen al poner el mouse sobre ella*/
		filter: drop-shadow(2px 2px 2px #82c3a6);
		transform: rotate(10deg);
	}

	.img-secundaria2{
		width: 80%;
		-webkit-filter:drop-shadow(2px 2px 2px #02010a);
		filter: drop-shadow(2px 2px 2px #02010a);
	}

	.img-secundaria2:hover{ /*traslación de la imagen al poner el mouse sobre ella*/
		filter: drop-shadow(2px 2px 2px #82c3a6);
		transform: translate(20px,-5px);
	}

	#contenedor_pie_pagina {
		display: flex;
		flex-direction: column;
		margin:auto;
		padding: 1.5em;
		background-color: #C6d5c5;
		border: 1px;
		border-bottom-left-radius: 10px;
	  border-bottom-right-radius: 10px;
	}

	.redes_sociales li{
		text-align: left;
		list-style: none;
	}

	.redes_sociales a{
		text-align: left;
		text-align: none;
		text-decoration: none;
		color: black;
	}

	/*Paisajes y Retratos*/
		.contenido_p_r{
			margin:auto;
			display: flex;
			flex-flow: row wrap;
			background-color:  #d5c75f;
			border: 1px;
			width: 100%;
		}

		.contenido_p_r div{
			width: 100%;
			text-align:center;
		}

		.img-p-r{
			width:80%;
			margin: 10px;
		}

	  .imagen1{
			-webkit-filter:blur(10px) drop-shadow(2px 2px 2px #02010a);
			filter: blur(10px) drop-shadow(2px 2px 2px #02010a);
		}

		.imagen2{
			-webkit-filter:grayscale(100%) drop-shadow(2px 2px 2px #02010a);
			filter: grayscale(100%) drop-shadow(2px 2px 2px #02010a);
		}

		.imagen3{
			-webkit-filter:sepia(90%) drop-shadow(2px 2px 2px #02010a);
			filter: sepia(90%) drop-shadow(2px 2px 2px #02010a);
		}

		.imagen4{
			-webkit-filter:grayscale(100%) drop-shadow(2px 2px 2px #02010a);
			filter: grayscale(100%) drop-shadow(2px 2px 2px #02010a);
		}

		.imagen5{
			-webkit-filter:rop-shadow(2px 2px 2px #02010a);
			filter: drop-shadow(2px 2px 2px #02010a);
		}

		.imagen6{
			-webkit-filter:grayscale(100%) drop-shadow(2px 2px 2px #02010a);
			filter: grayscale(100%) drop-shadow(2px 2px 2px #02010a);
		}
}
